services:
  games:
    build: .
    container_name: games
    restart: unless-stopped
    environment:
      - PUBLIC_BASE_URL=https://games.xpsxp.org
      - SMTP_HOST=
      - SMTP_PORT=587
      - SMTP_USER=
      - SMTP_PASS=
      - SMTP_FROM=
    volumes:
      - ./data:/app/data
      - ./public:/app/public
    networks:
      webnet:
        aliases:
          - games

networks:
  webnet:
    external: true
