services:
  games:
    image: ghcr.io/uilpx/games:latest
    pull_policy: always
    container_name: games
    restart: unless-stopped
    environment:
      - PUBLIC_BASE_URL=https://games.xpsxp.org
      - SMTP_HOST=
      - SMTP_PORT=587
      - SMTP_USER=
      - SMTP_PASS=
      - SMTP_FROM=
    volumes:
      - ./data/data.db:/app/data/data.db
    networks:
      webnet:
        aliases:
          - games

networks:
  webnet:
    external: true
