services:
  reaction:
    image: ghcr.io/uilpx/reaction:latest
    pull_policy: always
    container_name: reaction
    restart: unless-stopped
    volumes:
      - ./data/data.db:/app/data/data.db
    networks:
      webnet:
        aliases:
          - reaction

networks:
  webnet:
    external: true
