services:
  gallery:
    image: ghcr.io/uilpx/gallery:latest
    pull_policy: always
    container_name: gallery
    restart: unless-stopped
    volumes:
      - /volume1/docker/gallery/db:/app/data/gallery:ro
      - /volume1/docker/gallery/state:/app/data/state
    networks:
      webnet:
        aliases:
          - gallery

networks:
  webnet:
    external: true
