services:
  main-site:
    build: .
    container_name: main-site
    restart: unless-stopped
    volumes:
      - ./public:/app/public
    networks:
      webnet:
        aliases:
          - main-site

networks:
  webnet:
    external: true
