services:
  main-site:
    image: ghcr.io/uilpx/main-site:${IMAGE_TAG:-latest}
    pull_policy: always
    container_name: main-site
    restart: unless-stopped
    networks:
      webnet:
        aliases:
          - main-site

networks:
  webnet:
    external: true
