name: xpsxp-stack

services:
  games:
    image: ghcr.io/uilpx/games:latest
    pull_policy: always
    container_name: games
    restart: unless-stopped
    environment:
      - PUBLIC_BASE_URL=https://games.xpsxp.org
      - SMTP_HOST=
      - SMTP_PORT=587
      - SMTP_USER=
      - SMTP_PASS=
      - SMTP_FROM=
    volumes:
      - ./volumes/games/data.db:/app/data/data.db
    networks:
      webnet:
        aliases:
          - games

  reaction:
    image: ghcr.io/uilpx/reaction:latest
    pull_policy: always
    container_name: reaction
    restart: unless-stopped
    volumes:
      - ./volumes/reaction/data.db:/app/data/data.db
    networks:
      webnet:
        aliases:
          - reaction

  main-site:
    image: ghcr.io/uilpx/main-site:latest
    pull_policy: always
    container_name: main-site
    restart: unless-stopped
    networks:
      webnet:
        aliases:
          - main-site

  gallery:
    image: ghcr.io/uilpx/gallery:latest
    pull_policy: always
    container_name: gallery
    restart: unless-stopped
    environment:
      - SCAN_INTERVAL_MS=120000
      - COMMENTS_FILE=/app/data/state/comments.json
    volumes:
      - ./volumes/gallery/library:/app/data/gallery:ro
      - ./volumes/gallery/state:/app/data/state
    networks:
      webnet:
        aliases:
          - gallery

  nginx:
    image: nginx:alpine
    pull_policy: always
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ../nginx/conf.d:/etc/nginx/conf.d:ro
    expose:
      - "80"
    networks:
      webnet:
        aliases:
          - nginx

networks:
  webnet:
    external: true
