services:
  nginx:
    image: nginx:alpine
    pull_policy: always
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
    expose:
      - "80"
    networks:
      webnet:
        aliases:
          - nginx

networks:
  webnet:
    external: true
